<%- include('../partials/head.ejs') %>
    <a href="/">Back</a>

    <h2>Admin:</h2>
    <form action="/admin" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Se connecter</button>
    </form>