<header>
    <div style="float: right;">
        <%= locals.admin ? "Connecté en tant que: " + admin.username :"Pas connecté" %>
            <% if (locals.admin) { %>
                <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">login</a>
                    <% } %>
                        <%- include('../partials/themeToggler.ejs') %>

    </div>
    <h1>
        <a href="/">
            <%= appTitle %>
        </a>
    </h1>

    <nav>
        <ul>
            <li><a class="nav-link" href="/snippets">Snippets</a></li>
            <li><a class="nav-link" href="/projects">Projects</a></li>
            <li><a class="nav-link" href="/tags">Tags</a></li>
        </ul>
    </nav>
</header>