<header class="d-flex justify-content-between p-3 border-bottom">
    <h1>
        <%= appTitle %>
    </h1>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link <%=  %>" href="/snippets">Snippets</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/tags">Tags</a></li>
        </ul>
    </nav>
    <div class="p-2 text-end">
        <%= locals.admin ? "Connecté en tant que: " + admin.username :"Pas connecté" %>
            <% if (locals.admin) { %>
                <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">login</a>
                    <% } %>
    </div>
</header>