<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple inventory application">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>
        <%= title %>
    </title>
</head>

<body id="body" data-bs-theme="light">