<%- include('partials/head.ejs') %>

    <body>
        <h1><a href="/">Accueil</a></h1>
        <ul>
            <li><a href="/snippets">Snippets</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/tags">Tags</a></li>
        </ul>
    </body>

    </html>