<%- include('partials/head.ejs') %>

    <body>
        <h1>Home page</h1>
        <ul>
            <li><a href="/snippets">Snippets</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Tags</a></li>
        </ul>
    </body>

    </html>