<%- include('./partials/head.ejs') %>

    <body data-theme="light" class="min-h-screen flex flex-col justify-between">
        <%- include('./partials/navbar.ejs') %>
            <div class="container">

            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

    </html>